/* Box Dimensions/Properties */
.tradingcard {
  width: 310px;
  border: 1px solid #DCDCDC;
  box-shadow: 6px 6px 1px 0px #EBEBEB;
  padding-right: .2em;
  padding-left: .7em;
  padding-bottom: .6em;
  text-align: center;
  background-color: beige;
}

.infobox {
  width: 283px;
  border: 1px solid #DCDCDC;
  padding-right: .5em;
  padding-left: .5em;
}

/* Image */
.animalPicture {
  width: 300px;
  height: 200px;
  padding-bottom: .8em;
}

/* Interesting Fact */
.eagle-info {
  font-style: italic;
  text-align: left;
}

span {
  font-weight: bold;
}
